@model RockBotPanel.Models.Chatinfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chatinfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WarnsQuantity" class="control-label"></label>
                <input asp-for="WarnsQuantity" class="form-control" />
                <span asp-validation-for="WarnsQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Welcome" class="control-label"></label>
                <input asp-for="Welcome" class="form-control" />
                <span asp-validation-for="Welcome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rules" class="control-label"></label>
                <input asp-for="Rules" class="form-control" />
                <span asp-validation-for="Rules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisabledCommands" class="control-label"></label>
                <input asp-for="DisabledCommands" class="form-control" />
                <span asp-validation-for="DisabledCommands" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
