@model RockBotPanel.Models.Users

@{
    ViewData["Title"] = "Edit warns";
}

<h1>Change warns quantity</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Warns" class="control-label"></label>
                <input asp-for="Warns" class="form-control" />
                <span asp-validation-for="Warns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="Chatid" class="control-label"></label-->
                <input type="hidden" asp-for="Chatid" class="form-control" />
                <span asp-validation-for="Chatid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="Userid" class="control-label"></label-->
                <input type="hidden" asp-for="Userid" class="form-control" />
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.Chatid">Back to List</a>
</div>

