@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

<a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
    asp-controller="role">Add new role</a>

@foreach (var role in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            Role Id : @role.Id
        </div>
        <div class="card-body">
            <h5 class="card-title">@role.Name</h5>
        </div>
        <div class="card-footer">
            <a asp-action="Details" asp-route-id="@role.Id" class="btn btn-primary">Details</a>
            <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
}