<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="globalLevel" value="Info" />
  <variable name="logFolder" value="C:\RockBotPanel\logs" />
    
  <targets>
    <target name="logfile" xsi:type="File" fileName="${logFolder}\log-${shortdate}.log" />
    <target name="errorslogfile" xsi:type="File" fileName="${logFolder}\log-errors-${shortdate}.log" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minLevel="${var:globalLevel}" writeTo="logfile" />
    <logger name="*" minLevel="Error" writeTo="errorslogfile" />
    <logger name="*" minLevel="${var:globalLevel}" writeTo="logconsole" />
  </rules>
</nlog>