@{
    ViewData["Title"] = "Admin panel";
}

<h1>Admin panel</h1>

<a asp-action="Index" asp-controller="role" class="btn btn-primary">Roles</a>
<a asp-action="Index" asp-controller="Allusers" class="btn btn-primary">All Telegram users</a>
<a asp-action="SendMail" class="btn btn-primary">Send mail</a>
